{
    "code": 200,
    "msg": "ok",
    "result": [
        {
            "country": "中国",
            "temperature": "20-29℃",
            "coverImageUrl": "file:///android_asset/city/city_1_1.jpg",
            "address": "北京",
            "cityid": "101010100",
            "description": "赫赫京都千百年，钟灵毓秀萃龙渊。",
            "time": "天气较热，衣物精干简洁，室内酌情添加空调衫。",
            "mapImageUrl": "file:///android_asset/city/city_1_2.jpg"
        },
        {
            "country": "中国",
            "temperature": "21-28°C",
            "coverImageUrl": "file:///android_asset/city/city_2_1.jpg",
            "address": "上海",
            "cityid": "101020100",
            "description": "浦浪花千尘雪, 花满堵,酒满瓯, 十里绮罗外滩烟, 东方明珠百度春。",
            "time": "",
            "mapImageUrl": "file:///android_asset/city/city_2_2.jpg"
        },
        {
            "country": "中国",
            "temperature": "27-33°C",
            "coverImageUrl": "file:///android_asset/city/city_3_1.jpg",
            "address": "广州",
            "cityid": "101280101",
            "description": "五岭北来峰在地，九州南尽水浮天。",
            "time": "",
            "mapImageUrl": "file:///android_asset/city/city_3_2.jpg"
        },
        {
            "country": "中国",
            "temperature": "20-27°C",
            "coverImageUrl": "file:///android_asset/city/city_4_1.jpg",
            "address": "南京",
            "cityid": "101190101",
            "description": "逶迤带绿水，迢递起朱楼。飞甍夹驰道，垂杨荫御沟。",
            "time": "",
            "mapImageUrl": "file:///android_asset/city/city_4_2.jpg"
        },
        {
            "country": "中国",
            "temperature": "21-27°C",
            "coverImageUrl": "file:///android_asset/city/city_5_1.jpg",
            "address": "苏州",
            "cityid": "101190401",
            "description": "姑苏城外寒山寺，夜半钟声到客船。",
            "time": "",
            "mapImageUrl": "file:///android_asset/city/city_5_2.jpg"
        },
        {
            "country": "中国",
            "temperature": "21-29°C",
            "coverImageUrl": "file:///android_asset/city/city_6_1.jpg",
            "address": "杭州",
            "cityid": "101210101",
            "description": "江南忆，最忆是杭州。山寺月中寻桂子，郡亭枕上看潮头。何日更重游。",
            "time": "",
            "mapImageUrl": "file:///android_asset/city/city_6_2.jpg"
        },
        {
            "country": "中国",
            "temperature": "20-29°C",
            "coverImageUrl": "file:///android_asset/city/city_7_1.jpg",
            "address": "武汉",
            "cityid": "101200101",
            "description": "黄鹤楼中吹玉笛，江城五月落梅花。",
            "time": "",
            "mapImageUrl": "file:///android_asset/city/city_7_2.jpg"
        },
        {
            "country": "中国",
            "temperature": "20-27°C",
            "coverImageUrl": "file:///android_asset/city/city_8_1.jpg",
            "address": "长沙",
            "cityid": "101250101",
            "description": "汉代诸王国，星垣轸翼间。九江通北渚，四塞控南蛮。",
            "time": "",
            "mapImageUrl": "file:///android_asset/city/city_8_2.jpg"
        },
        {
            "country": "中国",
            "temperature": "18-27°C",
            "coverImageUrl": "file:///android_asset/city/city_9_1.jpg",
            "address": "西安",
            "cityid": "101110101",
            "description": "君不见，外州客，长安道，一回来，一回老",
            "time": "",
            "mapImageUrl": "file:///android_asset/city/city_9_2.jpg"
        },
        {
            "country": "中国",
            "temperature": "19-25°C",
            "coverImageUrl": "file:///android_asset/city/city_10_1.jpg",
            "address": "扬州",
            "cityid": "101190601",
            "description": "二十四桥明月夜，玉人何处教吹箫？",
            "time": "",
            "mapImageUrl": "file:///android_asset/city/city_10_2.jpg"
        },
        {
            "country": "中国",
            "temperature": "15-22°C",
            "coverImageUrl": "file:///android_asset/city/city_11_1.jpg",
            "address": "九寨沟",
            "cityid": "101271906",
            "description": "瑶池本是在人间，堪笑凡夫安学仙。有路天堂通九寨，此中仙境任盘旋。",
            "time": "",
            "mapImageUrl": "file:///android_asset/city/city_11_2.jpg"
        },
        {
            "country": "中国",
            "temperature": "20-28°C",
            "coverImageUrl": "file:///android_asset/city/city_12_1.jpg",
            "address": "张家界",
            "cityid": "101251101",
            "description": "千丈绝壁挂金松，万尺深涧锁玉龙。百仗留得佳话在，两壁对插白云中。",
            "time": "",
            "mapImageUrl": "file:///android_asset/city/city_12_2.jpg"
        }
    ]
}